@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  --header-text: #3a3a3a;
  /* --btn-bg: #e02c6d; */
  --btn-bg: #628ab6;
}
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(222%2c 237%2c 253%2c 1)'%3e%3c/rect%3e%3cpath d='M-24.918491226080903 362.9506569420089L70.68120518588314 364.6193558499976-23.24979231809222 267.35096053004486z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M776.571%2c676.951C826.102%2c675.03%2c870.112%2c646.187%2c893.704%2c602.593C916.193%2c561.037%2c911.244%2c511.766%2c888.327%2c470.444C864.607%2c427.674%2c825.477%2c391.609%2c776.571%2c391.386C727.353%2c391.161%2c688.559%2c427.332%2c663.035%2c469.416C636.287%2c513.519%2c617.812%2c567.082%2c642.568%2c612.333C668.077%2c658.961%2c723.461%2c679.011%2c776.571%2c676.951' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1328.9662103123385 500.5679396032759L1402.0434722995456 559.7447395501246 1461.2202722463942 486.66747756291755 1388.1430102591871 427.4906776160688z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1097.313%2c403.95C1121.012%2c405.096%2c1143.572%2c392.174%2c1155.277%2c371.535C1166.836%2c351.154%2c1164.824%2c326.145%2c1152.869%2c305.994C1141.167%2c286.27%2c1120.242%2c274.319%2c1097.313%2c273.834C1073.466%2c273.329%2c1048.693%2c282.475%2c1037.529%2c303.553C1026.873%2c323.673%2c1036.657%2c346.801%2c1048.306%2c366.363C1059.595%2c385.321%2c1075.274%2c402.884%2c1097.313%2c403.95' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1016.9327033489543 159.30231288844635L981.0486068075725 314.0603732708414 1114.5409392164045 275.78206291842775z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M870.44%2c496.534C903.546%2c495.351%2c932.241%2c477.248%2c950.357%2c449.513C970.691%2c418.383%2c985.327%2c379.937%2c968.134%2c346.969C949.951%2c312.102%2c909.714%2c294.309%2c870.44%2c296.27C834.211%2c298.079%2c806.208%2c324.405%2c788.298%2c355.949C770.658%2c387.018%2c761.953%2c424.755%2c779.977%2c455.602C797.873%2c486.231%2c834.989%2c497.801%2c870.44%2c496.534' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

/* header {
  height: calc(100vh - 0px);
} */
.menu-hide {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
  /* background-color: red; */
}
nav h3 {
  color: var(--header-text);
  font-size: 2.4rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
nav li a {
  color: var(--header-text);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
nav li a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  /* width: 100%; */
  height: 3px;
  background-color: var(--btn-bg);
  border-radius: 20px;
  transition: all 300ms linear;
  transform: translateX(-50%);
}
nav ul li:last-child a::before {
  background-color: transparent;
}
nav ul li:nth-child(5) a::before {
  background-color: transparent;
}
nav li a:hover::before {
  width: 100%;
}
nav i {
  font-size: 2.2rem;
}
.banner {
  display: flex;
  gap: 50px;
  width: 85%;
  margin: 50px auto 0;
}
.banner-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.banner-content h1 {
  color: var(--header-text);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 70px;
}
.banner-content p {
  color: var(--header-text);
  font-size: 1.6rem;
  font-weight: 600;
}
.banner-content button {
  color: #fff;
  width: max-content;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 20px;
  background-color: var(--btn-bg);
  outline: none;
  border: none;
  border-radius: 40px;

  display: flex;
  gap: 10px;
  align-items: center;
}
.banner-content button i {
  font-size: 2rem;
}
.banner-img {
  width: 45%;
  padding: 30px 0;
  background-image: url(./images/Circle\ design.svg);
  background-size: 91%;
  background-position: 70% 30%;
  background-repeat: no-repeat;
  position: relative;
}

.banner-img img {
  width: 85%;
  display: block;
  margin: 0 auto;
  position: relative;
  animation: camera 1500ms ease-in-out 0s infinite alternate;
}
@keyframes camera {
  from {
    top: 20px;
  }
  to {
    top: -20px;
  }
}

/* Section Company Stylling  */
.company-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 35px;
}
.company {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.company-wrap .no1 {
  border-color: #c0ccda99;
  border-radius: 100%;
}
.company-wrap .no2 {
  border-color: #c0ccda99;
  border-radius: 100%;
}

/* Products Section Stylling */
.products-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.products-wrap > h1 {
  color: var(--header-text);
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}
.product img {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.product h1 {
  width: 90%;
  margin: 0 auto;
  color: var(--header-text);
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.product h2 {
  width: 90%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.87);
  font-size: 2.4rem;
  font-weight: 400;
}
.product .rating {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8px;
}
.product .rating i {
  font-size: 1.3rem;
  color: #fb8200;
}
.product .rating span {
  color: #5e6366;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-left: 10px;
}
.product p {
  width: 90%;
  margin: 0 auto;
  color: #787885;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.more-products {
  display: block;
  text-align: right;
  margin-top: 40px;
  color: var(--btn-bg);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.more-products i {
  font-size: 1.6rem;
}

/* Featured Section Stylling  */
.feature {
  width: 82%;
  margin: 100px auto 50px;
  display: flex;
  gap: 40px;
}
.feature .f-left {
  width: 40%;
  display: flex;
  align-items: center;
}
.feature .f-left img {
  width: 90%;
}
.feature .f-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.feature .f-right h1 {
  color: #0a0826;
  font-size: 3.8rem;
  font-weight: 700;
}
.feature .f-right p {
  color: #6c6c6c;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 28px; /* 175% */
}
.feature .f-right button {
  background-color: var(--btn-bg);
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  width: max-content;
}
.feature .f-right i {
  font-size: 1.6rem;
  margin-left: 5px;
}

/* Hire Section Stylling  */
.feature.hire {
  flex-direction: row-reverse;
  background-color: #fff;
  width: auto;
  padding: 0 50px;
}
.hire-video {
  width: 100%;
  height: 80%;
}
/* Footer Stylling */
footer {
  padding: 50px 0;
  background-color: #0a0826;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer h1 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}
footer p {
  color: #d9dbe1;
  font-size: 1.4rem;
  line-height: 24px; /* 171.429% */
  text-align: center;
}
footer .social-links {
  display: flex;
  gap: 15px;
}
footer .social-links i {
  font-size: 1.5rem;
  color: #fff;
  background-color: #22213c;
  border-radius: 50%;
  padding: 10px;
}
