@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  --header-text: #3a3a3a;
  --btn-bg: #e02c6d;
}

/* header {
  height: calc(100vh - 0px);
} */
.menu-hide {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
  /* background-color: red; */
}
nav h3 {
  color: var(--header-text);
  font-size: 2.4rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
nav li a {
  color: var(--header-text);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
}
nav i {
  font-size: 2.2rem;
}
.banner {
  display: flex;
  gap: 50px;
  width: 85%;
  margin: 50px auto 0;
}
.banner-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.banner-content h1 {
  color: var(--header-text);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 70px;
}
.banner-content p {
  color: var(--header-text);
  font-size: 1.6rem;
  font-weight: 600;
}
.banner-content button {
  color: #fff;
  width: max-content;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 20px;
  background-color: var(--btn-bg);
  outline: none;
  border: none;
  border-radius: 40px;

  display: flex;
  gap: 10px;
  align-items: center;
}
.banner-content button i {
  font-size: 2rem;
}
.banner-img {
  width: 45%;
  padding: 30px 0;
  background-image: url(./images/Circle\ design.svg);
  background-size: 91%;
  background-position: 70% 30%;
  background-repeat: no-repeat;
}
.banner-img img {
  width: 85%;
  display: block;
  margin: 0 auto;
}

/* Section Company Stylling  */
.company-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 35px;
}
.company {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.company-wrap .no1 {
  border-color: #c0ccda99;
  border-radius: 100%;
}
.company-wrap .no2 {
  border-color: #c0ccda99;
  border-radius: 100%;
}

/* Products Section Stylling */
.products-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.products-wrap > h1 {
  color: var(--header-text);
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}
.product img {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.product h1 {
  width: 90%;
  margin: 0 auto;
  color: var(--header-text);
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.product h2 {
  width: 90%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.87);
  font-size: 2.4rem;
  font-weight: 400;
}
.product .rating {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8px;
}
.product .rating i {
  font-size: 1.3rem;
  color: #fb8200;
}
.product .rating span {
  color: #5e6366;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-left: 10px;
}
.product p {
  width: 90%;
  margin: 0 auto;
  color: #787885;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.more-products {
  display: block;
  text-align: right;
  margin-top: 40px;
  color: var(--btn-bg);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.more-products i {
  font-size: 1.6rem;
}

/* Featured Section Stylling  */
.feature {
  width: 82%;
  margin: 100px auto 50px;
  display: flex;
  gap: 40px;
}
.feature .f-left {
  width: 40%;
  display: flex;
  align-items: center;
}
.feature .f-left img {
  width: 90%;
}
.feature .f-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.feature .f-right h1 {
  color: #0a0826;
  font-size: 3.8rem;
  font-weight: 700;
}
.feature .f-right p {
  color: #6c6c6c;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 28px; /* 175% */
}
.feature .f-right button {
  background-color: var(--btn-bg);
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  width: max-content;
}
.feature .f-right i {
  font-size: 1.6rem;
  margin-left: 5px;
}

/* Hire Section Stylling  */
.feature.hire {
  flex-direction: row-reverse;
}
.hire-video {
  width: 100%;
}
/* Footer Stylling */
footer {
  padding: 50px 0;
  background-color: #0a0826;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer h1 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}
footer p {
  color: #d9dbe1;
  font-size: 1.4rem;
  line-height: 24px; /* 171.429% */
  text-align: center;
}
footer .social-links {
  display: flex;
  gap: 15px;
}
footer .social-links i {
  font-size: 1.5rem;
  color: #fff;
  background-color: #22213c;
  border-radius: 50%;
  padding: 10px;
}
